.about
    .container
        .content
            .info
                .main-title
                    h2
                        span About QuickFinz
                p
                    | Welcome to QuickFinz! We are a loan aggregator cum online services provider company
                p
                    | We are dedicated to providing our customers with an easy and efficient way to find the best loan options available to them. Our mission is to help individuals and businesses find the right loan products that meet their specific needs and financial goals
                p
                    | Quick Finz works with large banks, NBFCs and fintech lenders who offer you wide choice of products. This platform is a great digital consumer credit marketplace with more than millions of happy customers.
                p
                    | Our team consists of experienced professionals who have a deep understanding of the lending industry and are committed to providing top-notch customer service. We work with a network of trusted lenders to offer a wide range of loan options, including personal loans, business loans, student loans, and more.
                a.main-btn(href='comingsoon.html')
                    | Read More 
                    i.fa-solid.fa-chevron-right
            img(src='imgs/Group 39268.png' alt='')