.architecture
    .container
        h2
            | QuickFinz 
            span Ecosystem Architecture
        .content 
            .box 
                i.fa-solid.fa-building-columns
                p Banks Services Provider
            .box 
                i.fa-solid.fa-lock
                p Robust Technology Platform
            .box 
                i.fa-solid.fa-gears
                p Banking Services Suite
            .box 
                i.fa-solid.fa-users
                p Location-Based Area Heads
            .box 
                i.fa-solid.fa-shop
                p Customer Centric Touch Points
            .box 
                i.fa-solid.fa-users-gear
                p Under-Served Customer
        h2 One - Stop Destination for Neo Banking Services