.credit-section
    .container
        .main-title
            h2
                | Chirkut ki Jindegi Goodbye karo, 
                br
                span Credit Card se Apna Lifestyle Smart Banao.
        .content
            img(src='imgs/Group 39249.png' alt='')
            .info
                h6   Step up Credit Card
                p
                    i.fa-solid.fa-hand-point-right
                    |  No Credit Score required
                p
                    i.fa-solid.fa-hand-point-right
                    |  No income proof required
                p
                    i.fa-solid.fa-hand-point-right
                    |  Earn up to 6.5 % on FD
                p
                    i.fa-solid.fa-hand-point-right
                    |  Card Limit 100% on FD
                p
                    i.fa-solid.fa-hand-point-right
                    |  Increase Credit Score
                p
                    i.fa-solid.fa-hand-point-right
                    |  Cashback and many more facilities
        .content
            .info
                h6  Digital Paperless Credit Card
                p
                    i.fa-solid.fa-hand-point-right
                    |  1% Cash back on all spend
                p
                    i.fa-solid.fa-hand-point-right
                    |  100% digital process Free
                p
                    i.fa-solid.fa-hand-point-right
                    |  Credit report & Credit Line
            img(src='imgs/Group 39249.png' alt='')