.digit-section 
    .container 
        .main-title
            h2  
                | Munna Insurance Kar Lo,
                span Nahin To Mamu Pakar Lega.
        #carouselExampleIndicators.carousel.slide
            .carousel-indicators
                button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                    span 
                button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2') 
                    span 
                button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
                    span 
                button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='3' aria-label='Slide 4')
                    span 
                button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='4' aria-label='Slide 5')
                    span 
            .carousel-inner
                .carousel-item.active
                    .box
                        .images
                            img(src='imgs/bikePolicy.png' alt='')
                            img(src='imgs/goDigitGeneralInsurancePolicy.png' alt='')
                        h4 Bike Insurance
                        p Lorem Ipsum is simply dummy text of the printing
                        p Lorem Ipsum is simply dummy text of the printing
                        a.main-btn(href='comingsoon.html')
                            | Read More 
                            i.fa-solid.fa-chevron-right
                .carousel-item
                    .box
                        .images
                            img(src='imgs/bikePolicy.png' alt='')
                            img(src='imgs/goDigitGeneralInsurancePolicy.png' alt='')
                        h4 Bike Insurance
                        p Lorem Ipsum is simply dummy text of the printing
                        p Lorem Ipsum is simply dummy text of the printing
                        a.main-btn(href='comingsoon.html')
                            | Read More 
                            i.fa-solid.fa-chevron-right
                .carousel-item
                    .box
                        .images
                            img(src='imgs/bikePolicy.png' alt='')
                            img(src='imgs/goDigitGeneralInsurancePolicy.png' alt='')
                        h4 Bike Insurance
                        p Lorem Ipsum is simply dummy text of the printing
                        p Lorem Ipsum is simply dummy text of the printing
                        a.main-btn(href='comingsoon.html')
                            | Read More 
                            i.fa-solid.fa-chevron-right
                .carousel-item
                    .box
                        .images
                            img(src='imgs/bikePolicy.png' alt='')
                            img(src='imgs/goDigitGeneralInsurancePolicy.png' alt='')
                        h4 Bike Insurance
                        p Lorem Ipsum is simply dummy text of the printing
                        p Lorem Ipsum is simply dummy text of the printing
                        a.main-btn(href='comingsoon.html')
                            | Read More 
                            i.fa-solid.fa-chevron-right
                .carousel-item
                    .box
                        .images
                            img(src='imgs/bikePolicy.png' alt='')
                            img(src='imgs/goDigitGeneralInsurancePolicy.png' alt='')
                        h4 Bike Insurance
                        p Lorem Ipsum is simply dummy text of the printing
                        p Lorem Ipsum is simply dummy text of the printing
                        a.main-btn(href='comingsoon.html')
                            | Read More 
                            i.fa-solid.fa-chevron-right  
            button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next
                