.digit-section 
    .container 
        .main-title
            h2  
                | Munna Insurance Kar Lo,
                span Nahin To Mamu Pakar Lega.
        .owl-one.owl-carousel.owl-theme
                .box
                    .images
                        img(src='imgs/bikePolicy.png' alt='')
                        img(src='imgs/goDigitGeneralInsurancePolicy.png' alt='')
                    h4 Bike Insurance
                    p Lorem Ipsum is simply dummy text of the printing
                    p Lorem Ipsum is simply dummy text of the printing
                    a.main-btn(href='comingsoon.html')
                        | Read More 
                        i.fa-solid.fa-chevron-right
                .box
                    .images
                        img(src='imgs/bikePolicy.png' alt='')
                        img(src='imgs/goDigitGeneralInsurancePolicy.png' alt='')
                    h4 Bike Insurance
                    p Lorem Ipsum is simply dummy text of the printing
                    p Lorem Ipsum is simply dummy text of the printing
                    a.main-btn(href='comingsoon.html')
                        | Read More 
                        i.fa-solid.fa-chevron-right
                .box
                    .images
                        img(src='imgs/bikePolicy.png' alt='')
                        img(src='imgs/goDigitGeneralInsurancePolicy.png' alt='')
                    h4 Bike Insurance
                    p Lorem Ipsum is simply dummy text of the printing
                    p Lorem Ipsum is simply dummy text of the printing
                    a.main-btn(href='comingsoon.html')
                        | Read More 
                        i.fa-solid.fa-chevron-right
                .box
                    .images
                        img(src='imgs/bikePolicy.png' alt='')
                        img(src='imgs/goDigitGeneralInsurancePolicy.png' alt='')
                    h4 Bike Insurance
                    p Lorem Ipsum is simply dummy text of the printing
                    p Lorem Ipsum is simply dummy text of the printing
                    a.main-btn(href='comingsoon.html')
                        | Read More 
                        i.fa-solid.fa-chevron-right
                .box
                    .images
                        img(src='imgs/bikePolicy.png' alt='')
                        img(src='imgs/goDigitGeneralInsurancePolicy.png' alt='')
                    h4 Bike Insurance
                    p Lorem Ipsum is simply dummy text of the printing
                    p Lorem Ipsum is simply dummy text of the printing
                    a.main-btn(href='comingsoon.html')
                        | Read More 
                        i.fa-solid.fa-chevron-right    