.footer
  .container
    .content
      .methods
        img(src='imgs/Group 1621.png' alt='')
        p
          | ‘QuickFinz’ is an online services marketplace of Kwickzen Services Private Limited.
          | We help in enhanceing self-employment to the Partners.
        img(src='imgs/Mask Group 12.png' alt='')
        imgs(src='imgs/Mask Group 13.png' alt='')
        h4 Supported Payment Methods
        img(src='imgs/Mask Group 35.png' alt='')
        img(src='imgs/Mask Group 36.png' alt='')
        img(src='imgs/Mask Group 37.png' alt='')
        img(src='imgs/Mask Group 38.png' alt='')
        img(src='imgs/Mask Group 39.png' alt='')
        img(src='imgs/Mask Group 40.png' alt='')
      .legal
        h4 Legal
        a(href='comingsoon.html') About Us
        a(href='comingsoon.html')  Careers 
        a(href='comingsoon.html') Privacy Policy
        a(href='comingsoon.html') Cancellation 
        a(href='comingsoon.html') Policy Terms & Conditions
      .links
        h4 Important Links
        a(href='comingsoon.html') Blog
        a(href='comingsoon.html') Rewards 
        a(href='comingsoon.html') Global Anti-Corruption Policy 
        a(href='comingsoon.html') RBI Kahta hai 
        a(href='comingsoon.html') Reports Bugs & Earn
        .secured
          div
            h6 Secured By
            .imgs
              img(src='imgs/Mask Group 35-1.png' alt='')
              img(src='imgs/Mask Group 36-1.png' alt='')
      .follow-us
        h4 Follow Us
        .social
          img(src='imgs/Group 1633.png' alt='')
          img(src='imgs/Group 1636.png' alt='')
          img(src='imgs/Group 1635.png' alt='')
          img(src='imgs/Group 1634.png' alt='')
          img(src='imgs/Group 1637.png' alt='')
        h6 Certified By
        img(src='imgs/pngwing.com (24).png' alt='')
