.landing-section
    .container
        .content
            .image
                img(src='imgs/businessman-dress-code-having-video-call@2x.png' alt='')
            .info 
                .headlines
                    h2 Credit Score Down Hai!
                    h2 Tension Nahin Leneka Mamu...
                .text
                    p Know your credit Score absolutely free from
                    p 'Qucickfinz'. IS it Low? It's not more tham just number.
                    p You can build it high & enjoy a financial establishment.    
                .download
                    h6 Download the app
                .pics
                    img(src='imgs/Mask Group 12.png' alt='')
                    img(src='imgs/Mask Group 13.png' alt='')
    ul.bullets.list-unstyled 
        -var i=['','','','','']
        each val in i 
            li                         