.loan 
    .container 
        .main-title
            h2 
                | Loan Application 
                span Process
        .content 
            .box.rounded-circle.text-center
                p Application submits with KYC and other details in QuickFinz Platform.
            .box.rounded-circle.text-center 
                p QuickFinz handed over the application to NBFS’s, Lending institution and Banks.
            .box.rounded-circle.text-center 
                p Lending institutions check applicant CIBIL & generate Report.
            .box.rounded-circle.text-center 
                p CIBIL Score match with their requirement & release loan directly to the applicant after legal procedure.
