.mobile-section
    .container
        .content
            .info
                .main-title
                    h2
                        | Download the
                        br
                        span QuickFinz Mobile App
                .text 
                    p
                        i.fa-solid.fa-hand-point-right
                        |  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    p
                        i.fa-solid.fa-hand-point-right
                        |  Vestibulum in orci tristique, auctor urna sed, sollicitudin ipsum
                    p
                        i.fa-solid.fa-hand-point-right
                        |  Suspendisse sit amet nisi nec magna tincidunt fringilla at eu tellus.
                .download
                    h4 Download App on your mobile
                    img(src='imgs/Mask Group 12.png' alt='')
                    img(src='imgs/Mask Group 13.png' alt='')
            img(src='imgs/36.png' alt='')
