.nav 
    .container
        .logo
            a(href='#')
            img(src='imgs/Group 1621.png' alt='')
            img(src='imgs/Image 2.png' alt='')
        .links
            a(href="index.html") 
                i.fa-solid.fa-house-chimney
            a(href='comingsoon.html') Online Services
            a(href='comingsoon.html') Media Room
            a(href='comingsoon.html') Support
            a.main-btn(href='comingsoon.html')
                | Join in 
                i.fa-solid.fa-chevron-right
        label(for='menu')
            i.fa-solid.fa-bars-staggered
        input#menu(type='checkbox')
        .menu-bar
            a(href='comingsoon.html') Online Services
            a(href='comingsoon.html') Media Room
            a(href='comingsoon.html') Support