.services
    .container
        .main-title
            h2
                | Explore 
                span Services
        .content
            .box
                .image
                    img(src='imgs/Group 1644.png' alt='')
                h6 Credit Service
                p
                | pTo act as a marketplace or marketing platform for distribution of all types lending, lead generation through NBFS’s,
                | Lending institution and Banks etc.
            .box
                .image
                    img(src='imgs/Group 1652.png' alt='')
                h6 Utility Services
                p
                | BBPS authorize online utility bills payments services platform. We provide all types of recharges,
                | utility Bill Payment services to the customers.
            .box
                .image
                    img(src='imgs/Group 1654.png' alt='')
                h6 Mutual Fund
                p
                | Offering Goal-based SIPs (Systematic Investment Plans) including but not limited to Mutual Fund Schemes, Pension Products such as NPS and much more!
            .box
                .image
                    img(src='imgs/Group 1659.png' alt='')
                h6 Insurance Services
                p
                | We believe in transparency in insurance Services. Two Wheler, Four-wheeler, Commercial, Travel,
                | Term Plan etc insurance services are available here.
            .box
                .image
                    img(src='imgs/Group 1657.png' alt='')
                h6 Banking Services
                p
                | To be the leading neo banking services company of choice for the under-served common man offering secured,
                | responsive & customised banking and financial services.
            .box
                .image
                    img(src='imgs/Group 1655.png' alt='')
                h6 Utility Services
                p
                | BBPS authorize online utility bills payments services platform. We provide all types of recharges,
                | utility Bill Payment services to the customers.