.testimonials
    .container
        .main-title
            h2 Testimonials
        .owl-two.owl-carousel.owl-theme
            .box
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    | when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                .client
                    .user
                        img(src='imgs/Rectangle 75.png' alt='')
                        .name
                            h4 Yuichi Kaneda, Japan
                            span Director
                    img(src='imgs/Mask Group 102.png' alt='')
            .box
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    | when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                .client
                    .user
                        img(src='imgs/Rectangle 75.png' alt='')
                        .name
                            h4 Yuichi Kaneda, Japan
                            span Director
                    img(src='imgs/Mask Group 102.png' alt='')
            .box
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    | when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                .client
                    .user
                        img(src='imgs/Rectangle 75.png' alt='')
                        .name
                            h4 Yuichi Kaneda, Japan
                            span Director
                    img(src='imgs/Mask Group 102.png' alt='')
            .box
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    | when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                .client
                    .user
                        img(src='imgs/Rectangle 75.png' alt='')
                        .name
                            h4 Yuichi Kaneda, Japan
                            span Director
                    img(src='imgs/Mask Group 102.png' alt='')
            .box
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    | when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                .client
                    .user
                        img(src='imgs/Rectangle 75.png' alt='')
                        .name
                            h4 Yuichi Kaneda, Japan
                            span Director
                    img(src='imgs/Mask Group 102.png' alt='')
            
