.digit-section {
    padding: 50px 0;
    background-color: #FCFCFC;
    .container {
        .owl-one {
            .box {
                background-color: #fff;
                box-shadow: 6px 6px 15px #00000014;
                padding: 35px 25px;
                position: relative;
                &::before {
                    content: '';
                    bottom: 0;
                    left: 50%;
                    -o-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    width: 70%;
                    height: 3px;
                    background-color: $orange-color;
                    position: absolute;
                }
                .images {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    padding: 10px 15px;
                    img {
                        width: 90px;
                        &:last-of-type {
                            position: relative;
                            right: -50px;
                        }
                    }
                }
                h4 {
                    color: #005CDE;
                }
                p {
                    max-width: 250px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}