-var pagetitle="Comingsoon"
doctype html
html(lang="en")
    head
        include pug/components/meta
        include pug/components/styles
    body 
        .comingsoon
            img(src="imgs/26691.jpg", alt="")