-var pagetitle="Bank Landing Page"
doctype html
html(lang="en")
    head
        include pug/components/meta
        include pug/components/styles
    body
        include pug/layout/nav
        include pug/layout/landing-section
        include pug/layout/services
        include pug/layout/about
        include pug/layout/loan
        include pug/components/scripts
