.copyrights
  .container
    p @Copyright 2023 Kwickzen Services Pvt. Ltd. All Rights Reserved.
    .text
      img(src='imgs/png-transparent-flag-of-india-flag-of-india-national-flag-flag-of-the-united-states-indian-flag-thumbnail.png' alt='')
      span Made In India With
      img(src='imgs/Icon awesome-heart.png' alt='')
