ul.bullets
  li.bullet(data-section='.about-us')
    .tooltip About Us
  li.bullet(data-section='.skills')
    .tooltip Our Skills
  li.bullet(data-section='.gallery')
    .tooltip Our Gallery
  li.bullet(data-section='.timeline')
    .tooltip Timeline
  li.bullet(data-section='.features')
    .tooltip Features
  li.bullet(data-section='.testimonials')
    .tooltip Testimonials
  li.bullet(data-section='.contact-us')
    .tooltip Contact Us